.reader {
	position: relative;
  width: 100%;
}
.paperGrid{
    margin: 2rem auto;
}
.MuiGrid-spacing-xs-1 {
    margin : 0
}
.paperback {
    padding: 5%;
    padding-right: 3%;
}
.reader:after {
	content: "";
	display: block;
	padding-bottom: 100%;
  }
  @media (min-width:900px) { 
    .sheet {
        width : 35%;
        margin-top : 35%;
    }
}
@media (max-width:900px) { 
    .sheet {
        width : 50%;
        margin-top : 50%;
    }
}
@media (max-width:768px){ 
    .sheet {
        width : 70%;
        margin-top : 70%;
    }
    .paperGrid {
        margin : 0;
    }
}
@media (max-width:450px) { 
    .sheet {
        width : 80%;
		margin-top: 80%;
    }
    .paperGrid {
        margin : 0;
    }
    .paperback{
        padding-right: 5%;
    }
}
.sheet {
	/* height:25%; */
	min-width: 35%;

}
#date-picker-dialog-label {
    font-size: 1.1rem;
    font-weight: bold;
}