* {
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	font-weight: bold;
}

body {
	background-color: white;
}
header {
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	top: 0%;
	left: 0%;
	transition: 0.6s;
	-webkit-transition: 0.6s;
	-moz-transition: 0.6s;
	-ms-transition: 0.6s;
	-o-transition: 0.6s;
	padding: 40px 100px;
	z-index: 100000;
}

header.sticky {
	padding: 10px 100px;
	background: white;
}
header .logo {
	position: relative;
	font-weight: 700;
	color: #fff;
	text-decoration: none;
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: 0.6s;
	-webkit-transition: 0.6s;
	-moz-transition: 0.6s;
	-ms-transition: 0.6s;
	-o-transition: 0.6s;
}

header ul {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

header ul li {
	position: relative;
	list-style: none;
}

header ul li a {
	position: relative;
	margin: 0 15px;
	text-decoration: none;
	color: #fff;
	letter-spacing: 2px;
	font-weight: 500px;
	transition: 0.6s;
	-webkit-transition: 0.6s;
	-moz-transition: 0.6s;
	-ms-transition: 0.6s;
	-o-transition: 0.6s;
}

header ul li a:hover,
header.sticky ul li a:hover {
	color: red;
}
header.sticky .logo,
header.sticky ul li a {
	color: black;
}

.banner {
	position: relative;
	width: 100%;
	min-height: 100vh;
	background: url(https://images.pexels.com/photos/48604/pexels-photo-48604.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	background-size: cover;
}
