* {
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	font-weight: bold;
}

body {
	background-color: white;
}

.banner {
	background-size: cover;
	background-image: url("./image-2.png");
	width: 100%;
	height: 180px;
	background-position: -0.5rem;
}
.text {
	font-size: 5.6rem;
	color: azure;
	padding-top: 6.2rem;
	margin-left: 1.2rem;
}
.button {
	font-size: 1rem;
	width: 18.5rem;
	margin-left: 2.5rem;
	margin-bottom: 1rem;
}
.banner2 {
	background-size: cover;
	background-image: url("./image-3.png");
	width: 250%;
	height: 370px;
	background-position: -0.3rem;
	margin-top: 2rem;
	margin-bottom: -1.5rem;
}
